/* #columns{
    background-color: rebeccapurple;
} */

/* body{
    background-color: rebeccapurple !important;
} */

/* ytd-app{
    background-color: rebeccapurple !important;
} */



.ext-popupDiv{
    background: transparent;
    /* background: rgba(255, 255, 255, 0.383); */
    /* rgba(149, 149, 149, 0.479); */
    /* background: linear-gradient(180deg, rgb(29, 29, 29) 0%, rgba(255,255,255,0.3561799719887955) 53%, rgb(29, 29, 29) 100%); */
    background: linear-gradient(180deg, rgb(29, 29, 29) 0%, rgba(83, 83, 83, 0.356) 53%, rgb(29, 29, 29) 100%);
    /* rgba(216, 112, 147, 0.479); */
    position:fixed;
    top: 56px;
    left:0;
    width: 100vw;
    height: calc( 100vh - 56px );
    z-index: 3000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ext-popup-button-container{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ext-button-container{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ext-popup-button{
    font-size: 3rem;
    padding: 2% 5%;
    /* background: rgb(214,77,77); */
    background: linear-gradient(180deg, rgba(214,77,77,1) 0%, rgba(149,14,14,1) 100%);
    /* rgb(149, 44, 44); */
    /* border: solid rgb(214, 77, 77); */
    border: solid transparent;

    border-radius: 25px;
    /* #FF0000; */
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 40px black;
}
.ext-popup-button:hover{
    background-color:rgb(149, 14, 14);
    border: solid rgb(149, 14, 14);
    box-shadow: 5px 5px 60px black;

}   


.ext-title-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 4rem;
    color: white;
    width:80%;
    margin-bottom: 3%;
    background-color:rgba(29, 29, 29, 0.534)  ;
    box-shadow: 5px 5px 60px black;
}

.ext-subtitle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    width:50%;
    margin-bottom: 5%;
    background-color:rgba(29, 29, 29, 0.534) ;
    box-shadow: 5px 5px 60px black;
    text-align: center;
}

.ext-array-and-styles{
    font-size: 1.5rem;
}



.ext-searchIndication{
    font-weight:900;
    color:red;
  }
  
/* necessary so that guide appears on top of the blox page without locating the div so that a miniplayer can appear before it */
#guide{
    z-index: 1000000;
}
body > iron-overlay-backdrop{
    z-index: 1000001 !important;
}

body > ytd-app > ytd-popup-container > paper-dialog{
    z-index: 1000002 !important;
}
body > ytd-app > ytd-popup-container > paper-dialog:nth-child(1){
    z-index: 1000002 !important;
}