/* #columns{
    background-color: rebeccapurple;
} */

/* body{
    background-color: rebeccapurple !important;
} */

/* ytd-app{
    background-color: rebeccapurple !important;
} */



.ext-popupDiv{
    background: transparent;
    /* background: rgba(255, 255, 255, 0.383); */
    /* rgba(149, 149, 149, 0.479); */
    /* background: linear-gradient(180deg, rgb(29, 29, 29) 0%, rgba(255,255,255,0.3561799719887955) 53%, rgb(29, 29, 29) 100%); */
    background: linear-gradient(180deg, rgb(29, 29, 29) 0%, rgba(83, 83, 83, 0.356) 53%, rgb(29, 29, 29) 100%);
    /* rgba(216, 112, 147, 0.479); */
    position:fixed;
    top: 56px;
    left:0;
    width: 100vw;
    height: calc( 100vh - 56px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 3000; */
    /* z-index: 2202; */

    z-index: 2000;  /* THIS MUST BE SET TO ENSURE IT SITS BELOW THE SIDEBAR SCRIM SCREEN AND ABOVE EVERY TITLE ON THE HOMEPAGE AND VIDEO PAGE */
}
.ext-popup-button-container{
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ext-button-container{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ext-popup-button{
    font-size: 3rem;
    padding: 2% 5%;
    /* background: rgb(214,77,77); */
    background: linear-gradient(180deg, rgba(214,77,77,1) 0%, rgba(149,14,14,1) 100%);
    /* rgb(149, 44, 44); */
    /* border: solid rgb(214, 77, 77); */
    border: solid transparent;

    border-radius: 25px;
    /* #FF0000; */
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 40px black;
}
.ext-popup-button:hover{
    background-color:rgb(149, 14, 14);
    border: solid rgb(149, 14, 14);
    box-shadow: 5px 5px 60px black;

}   


.ext-title-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 4rem;
    color: white;
    width:80%;
    margin-bottom: 3%;
    background-color:rgba(29, 29, 29, 0.534)  ;
    box-shadow: 5px 5px 60px black;
}

.ext-subtitle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    color: white;
    width:50%;
    margin-bottom: 5%;
    background-color:rgba(29, 29, 29, 0.534) ;
    box-shadow: 5px 5px 60px black;
    text-align: center;
}

.ext-array-and-styles{
    font-size: 1.5rem;
}



.ext-searchIndication{
    font-weight:900;
    color:red;
  }
  

  /* 
    we set the z index of the miniplayer to be the same as the popup because the popup is rendered after and will sit on top 
    Also, we change the z index so that it will not only sit below the playlist grey screen (z-index: 2201) but also below the popup which is also below the sidebar and topbar 
  */
  ytd-miniplayer {
    /* --ytd-miniplayer-width: 400px;
    --ytd-miniplayer-height: 225px;
    --ytd-miniplayer-playlist-height: 285px;
    --ytd-miniplayer-fade-down-endpoint: 355px;
    --ytd-miniplayer-fade-down-expanded-endpoint: 70px;
    opacity: 0;
    pointer-events: none;
    position: fixed; */
    /* z-index: 2025; */
    z-index: 2000 !important;
    /* right: 12px;
    height: 574px;
    transform: translate3d(0, 215px, 0);
    bottom: 0;
    background-color: var(--yt-spec-brand-background-primary);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.2); */
}





/* screen guide css when screen is large */
/* app-drawer.ytd-app[persistent] {
    z-index: 2005;
} */
/* screen guide styles when the screen is small and the grey shaded screen appears */
/* app-drawer.ytd-app:not([persistent]).ytd-app {
    z-index: 2030;
} */

/* the top search bar css styles */
/* #masthead-container.ytd-app {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2020;
    transform: translateY(0);
    transition: transform 0.3s ease;
} */

/* the grey screen behind the playlist adding options css styles */
/* body > iron-overlay-backdrop{
    z-index: 2201;
} */