  .popup {
    padding:0px;
    margin:0px;
    background-color: #FFF;
    height: 15rem;
    width:20rem;
    overflow: hidden;
  }

.topnav {
  background-color: #B9F9F9;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000202;
  text-align: center;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-size: 0.55rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #b9d9f9;
  color: black;
}

.sectionHeader{
  background: none repeat scroll 0 0 #ffffff;
  font-size: 0.8rem;
  margin: 0 auto;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}


.middleBlock {
  display:flex;
  margin: 0 auto;
  flex-direction: column;
  height: 10.0rem;
  padding: 0.05rem 0.05rem;
  background: red;
}
.middleBlock h3 {
  font: small-caps bold .8 rem sans-serif;
  text-align: left;
}
.middleBlock p {
  font: .5rem sans-serif;
  text-align: left;
}
/* .middleBlock .Description{
  float:left
  top: 5rem;
  height: 1.5rem;
  text-align: left;
  left: 0px;
  margin: 0.21rem;
  padding: 0.1rem;
  font-size: 0.5rem;
  background-color: #133A5D;
} */

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}
