  .popup {
    padding:0px;
    margin:0px;
    background-color: #FFF;
    height: 15rem;
    width:20rem;
    overflow: hidden;
  }

.topnav {
  background-color: #ffe5e5;
  overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000202;
  text-align: center;
  padding: 0.45rem 1.36rem;
  text-decoration: none;
  font-size: 0.55rem;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ff6666;
  color: black;
}



.sectionHeader{
  background: none repeat scroll 0 0 #f10000;
  color: white;
  font: bold 0.8rem courier;
  margin: 0 auto;
  position: relative;
  text-align: center;
  /* text-transform: uppercase; */
}

.middleBlock {
  display:flex;
  margin: 0 auto;
  flex-direction: column;
  height: 10.0rem;
  padding: 0.05rem 0.05rem;
  
}
.middleBlock h3 {
  font: small-caps bold .8 rem sans-serif;
  text-align: left;
  line-height:0px;
}
.middleBlock p {
  font: .8 rem sans-serif;
  text-align: left;
}
/* .middleBlock .Description{
  float:left
  top: 5rem;
  height: 1.5rem;
  text-align: left;
  left: 0px;
  margin: 0.21rem;
  padding: 0.1rem;
  font-size: 0.5rem;
  background-color: #133A5D;
} */
#listBlock{
  overflow-y:auto;
} 

label {
  display: block;
  background-image:url('https://cdn.bitdegree.org/learn/search-icon.png?229dfb2d');
  background-position: 9px 10px;
  background-size: 10px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
  padding-left: 20px;  
  width:180 rem;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}
input[type=text2] {
  background-image: url('plus.png');
  background-size: 1rem;
  background-position: .3rem .1rem;
  background-repeat: no-repeat;
  padding-left: 2rem;  
}
#add {
  cursor: pointer;
  background-color: #c4302b;
  border: none;
  color: white;
  padding: 0.1rem 0.2rem;
  text-decoration: none;
  margin: 0.5rem 0.4rem; 
}
 /* Style the list items */
 ul li {
  cursor: pointer;
  position: relative;
  margin: .12rem .12rem .12rem .12rem;
  padding: 0.8rem 1.6rem 1.2rem 2.0rem;
  list-style-type: none;
  background: #fff;
  font-size: 1.0 rem;
  transition: 0.2s;


  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 /* Darker background-color on hover */
 ul li:hover {
  background: #d451e6;
  color:#fff;
}

/* When clicked on, add a background color and strike out text */
/* ul li.checked {
  background: #464788;
  color: #fff;
  text-decoration: line-through;
} */

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.8rem 1.6rem 1.2rem 1.6rem;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

